@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --color-header: #2F4653;
  --card-color: #171717;
}

html.light {
  --background: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  {/*overflow:overlay (serve para não aparece os scrolls*/}
}

a {
  @apply hover:underline active:opacity-50 transition-opacity;
}